<np-website-page>
  <np-section [boxed]="true">
    <h1>Beispiel AGBs</h1>
  <div>
    <p><strong>I. Allgemeine Regelungen</strong></p>
      <p><strong>1. Gegenstand&nbsp;</strong></p>
      <p>1.1. Produkt Beschreibung
      </p>
      <p><strong>2. AGB&nbsp;</strong></p>
      <p>2.1. Wir erbringen alle mit unserem Produkt verbundenen Leistungen ausschließlich auf Grundlage dieser Allgemeinen Geschäftsbedingungen (im Folgenden „AGB“).</p>
      <p>2.2. Diese AGB bilden die gesamte Vereinbarung zwischen uns und den Kunden und Nutzern von XXXX und ersetzen sämtliche vorherigen&nbsp;Vereinbarungen&nbsp;unter diesem Titel. Für Business-Kunden&nbsp;gelten&nbsp;ergänzend&nbsp;die
        Regelungen des Business-Abos. Mündliche Nebenabreden bestehen nicht. Dies gilt auch dann, wenn ein Nutzer oder Business-Kunde eigene Allgemeine Geschäftsbedingungen verwendet und diese entgegenstehende oder von den hier
        aufgeführten AGB Bedingungen enthalten.</p>
      <p>2.3. Wir behalten uns das Recht vor, die AGB jederzeit anzupassen. Ihre jeweils aktuelle Version ist unter „ <a href="/agb">Agbs</a>“ öffentlich zugänglich.&nbsp;      </p>
      <p>2.4. Sollten einzelne Bestimmungen dieser AGB ungültig sein oder werden, bleibt die Gültigkeit der übrigen Bestimmungen unberührt.</p>
      <p><strong>3. Geistiges Eigentum</strong></p>
      <p>3.1. Wir ist ausschließliche Inhaberin sämtlicher Urheber-, Marken- und sonstigen Rechte geistigen Eigentums an XXXX. Es ist untersagt, XXXX und andere Marken von uns für eigene Zwecke, gleich welcher Art zu nutzen.</p>
      <p>3.2. Nutzern von XXXX ist es gestattet, Dritten gegenüber darauf hinzuweisen, dass XXXX von ihnen genutzt wird. Eine Verwendung der Marke oder/und des Logos von uns und/oder XXXX im Namen eines fremden Produkts ist jedoch unzulässig.&nbsp;</p><br>
      <p><strong>II. Nutzung von XXXX</strong></p>
      <p><strong>1. Beteiligte&nbsp;</strong></p>
      <p><strong>2. Nutzung&nbsp;</strong></p>
      <p>2.2. Bei der Anmeldung erhält der Inhaber ein Passwort. Er ist für dessen Nutzung allein verantwortlich.</p>
      <p><strong>3. Missbrauchshandlungen</strong></p>
      <p>3.1. Inhabern und Nutzern ist es untersagt,</p>
      <p>3.1.1. das Funktionieren von XXXX zu stören oder zu unterbrechen</p>
      <p>3.1.2. XXXX oder Zugänge zu XXXX zu reproduzieren, zu kopieren, zu verkaufen, zu handeln oder weiterzuvertreiben.&nbsp;</p>
      <p>3.2. Missbrauchshandlungen berechtigen uns zum vorübergehenden oder dauerhaften Ausschluss des betroffenen Inhabers bzw. Nutzers von der weiteren Nutzung von XXXX (siehe Nr. VII.1.4.). Daneben bleibt uns die Geltendmachung von Schadensersatz vorbehalten.&nbsp;</p>
      <p>3.3. Der Inhaber ist gegenüber uns dafür verantwortlich, dass die Nutzung von XXXX durch Nutzer den allgemeinen Gesetzen und diesen AGB entspricht&nbsp;</p><br>
      <p><strong>III. Änderungen an XXXX</strong></p>
      <p>1. Wir haben das Recht, XXXX (oder Teile davon) jederzeit dauerhaft oder vorübergehend einzustellen, zu entfernen oder zu ändern oder neue Dienste hinzuzufügen.&nbsp;</p>
      <p>2. Änderungen der Leistungen von uns unterliegen automatisch den Bestimmungen dieser AGB.<br>
      <p><strong>IV. Weitere Leistungen durch uns</strong></p>
      <p><strong>1. Support&nbsp;</strong></p>
      <p>1.1. Wir leistet technischen Support für die Nutzung von XXXX auf „Best Effort“-Basis. Die Kommunikation dazu erfolgt ausschließlich via E-Mail.&nbsp;</p>
      <p><strong>2. Dritte&nbsp;</strong></p>
      <p><strong>VI. Werbung</strong></p>
      <p>1.2. Neee keine Werbung bitte</p>
      <p><strong>VIII. Gewährleistungs-</strong><strong>‐</strong><strong>&nbsp;und Haftungsaussschluss</strong></p>
      <p><strong>1. Wir übernehmen weder Gewährleistung noch Haftung&nbsp;</strong></p>
      <p><strong>2. Vom Gewährleistungs-</strong><strong>‐</strong><strong>&nbsp;und Haftungsausschluss ausgenommen ist nix.&nbsp;</strong></p><br>
      <p><strong>IX. Anwendbares Recht; Gerichtsstand</strong></p>
      <p>1. Es gilt deutsches Recht, unabhängig vom Standort des Inhabers oder Nutzers.&nbsp;</p>
      <p>2. Gerichtsstand für alle Streitigkeiten im Zusammenhang mit der Nutzung von XXXX ist XXXX, soweit nicht im Einzelfall gesetzlich ein anderer Gerichtsstand vorgeschrieben ist.&nbsp;</p>
      <p>3. Wir sind weder verpflichtet noch bereit, an Streitbeilegungs-Verfahren vor einer Verbraucher-Schlichtungsstelle teilzunehmen.&nbsp;</p>
      <p>&nbsp;</p>
      <p>Stand der AGB: 07.04.2022</p>
  </div>

</np-section>
</np-website-page>
