$np-break-watch: 340px; // end watch -> start mobile
$np-break-mobile-sm: 425px; // end mobile-sm
$np-break-mobile-md: 640px; // end mobile-md -> start tablet
$np-break-mobile: 768px; // end mobile-md -> start tablet
$np-break-tablet-sm: 992px; // end tablet-sm
$np-break-tablet: 1200px; // end tablet -> start desktop
$np-break-desktop-sm: 1320px; // end desktop-sm
$np-break-desktop: 1440px; // end desktop -> start retina

