<np-website-page>
  <np-section [boxed]="true">
    <np-title-panel npInView [options]="titleOptions"></np-title-panel>
  </np-section>
  <np-section [fullsize]="false" startState="fadeRight">
    <p class="np-responsive-debug"></p>
  </np-section>
  <np-section [fullsize]="false" startState="fadeRight">
    <np-card-row-panel npInView [options]="cardRowOptions"></np-card-row-panel>
  </np-section>
  <np-section startState="fadeBottom">
    <np-image-row-panel npInView [options]="imageRowOptions"></np-image-row-panel>
  </np-section>
  <np-section [fullsize]="true" startState="fadeLeft">
    <np-split-panel [options]="splitOptions"></np-split-panel>
  </np-section>
<!--  <np-section npInView startState="fadeBottom" #more>-->
<!--    <div flex-col flex-center-center>-->
<!--      <h2>Subscribe to our<br class="d-none d-sm-block"> newsletter to get updated</h2>-->
<!--      <p>Get our latest update on your inbox. With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>-->
<!--      <div class="newsletter-form" >-->
<!--        <form action="#">-->

<!--          <ion-item>-->
<!--            <ion-label position="stacked">Floating Label</ion-label>-->
<!--            <ion-input type="email" name="email" placeholder="Enter email address"></ion-input>-->
<!--          </ion-item>-->
<!--          <ion-button expand="full">Subscribe</ion-button>-->

<!--        </form>-->
<!--      </div>-->
<!--      <div flex-row flex-between-center>-->
<!--        <ion-icon name="lock-closed-sharp"></ion-icon>-->
<!--        <span>We don’t spam at all, our promise!</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </np-section>-->
</np-website-page>
